.admin-course-container {
  --max-width: 95vw;
  --padding: 2rem;

  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
  /* background-color: #ff9f9f; */
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  margin-top: 9px;
}
.left-admin-course {
  /* background-color: yellowgreen; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .right-admin-course {
  background-color: rgb(214, 224, 255);
} */
.a-c-img-prev {
  width: 100px;
  height: 60px;
  object-fit: cover;
  border: 1px solid black;
 
}
.a-c-bt{
    padding: 5px 5px;
    margin-right:5px ;
    margin-left: 5px;
    outline: none;
    border: none;
    background-color: rgb(58, 58, 58);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.left-admin-course-sub{
    overflow-x: auto;
}

@media (max-width: 1000px) {
    .left-admin-course  {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .right-admin-course{
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .a-c-bt{
      margin-bottom: 5px;
      font-size: 15px;
    }
  }