.Loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(18,17,17,255);
  text-transform: capitalize;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-con {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 100%;
}
.loader-con > img {
  object-fit: cover;
}
